@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lot IBG 29C Antsahavola – B.P. 1780<br />
    101 - Antananarivo<br />

    <abbr title="Phone">P:</abbr>
    +2.612.022.6615 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<img src="~/Content/contact.png" />