
@{
    ViewBag.Title = "Geography";
}

<h2>Geography</h2>


<br />
<div class="col-md-4">
    <img src="~/Content/map2.png" />
</div>
<div class="col-md-4">
    
    <table class="wikitable sortable jquery-tablesorter">
        <caption><b>Regions and former provinces<sup id="cite_ref-96" class="reference"></sup></b></caption>
        <thead>
            <tr>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">New regions</th>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">
                    Former<br>
                    provinces
                </th>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">
                    Area in<br>
                    sq.&nbsp;km
                </th>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">
                    Population<br>
                    2013 estimate<sup id="cite_ref-97" class="reference"></sup>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Diana_Region" title="Diana Region">Diana</a> (1)</td>
                <td><a href="https://en.wikipedia.org/wiki/Antsiranana_Province" title="Antsiranana Province">Antsiranana</a></td>
                <td align="right">19,266</td>
                <td align="right">700,021</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Sava_Region" title="Sava Region">Sava</a> (2)</td>
                <td><a href="https://en.wikipedia.org/wiki/Antsiranana_Province" title="Antsiranana Province">Antsiranana</a></td>
                <td align="right">25,518</td>
                <td align="right">980,807</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Itasy" title="Itasy" class="mw-redirect">Itasy</a> (3)</td>
                <td><a href="https://en.wikipedia.org/wiki/Antananarivo_Province" title="Antananarivo Province">Antananarivo*</a></td>
                <td align="right">6,993</td>
                <td align="right">732,834</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Analamanga" title="Analamanga">Analamanga</a> (4)</td>
                <td><a href="https://en.wikipedia.org/wiki/Antananarivo_Province" title="Antananarivo Province">Antananarivo*</a></td>
                <td align="right">16,911</td>
                <td align="right">3,348,794</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Vakinankaratra" title="Vakinankaratra">Vakinankaratra</a> (5)</td>
                <td><a href="https://en.wikipedia.org/wiki/Antananarivo_Province" title="Antananarivo Province">Antananarivo*</a></td>
                <td align="right">16,599</td>
                <td align="right">1,803,307</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Bongolava" title="Bongolava">Bongolava</a> (6)</td>
                <td><a href="https://en.wikipedia.org/wiki/Antananarivo_Province" title="Antananarivo Province">Antananarivo*</a></td>
                <td align="right">16,688</td>
                <td align="right">457,368</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Sofia_Region" title="Sofia Region">Sofia</a> (7)</td>
                <td><a href="https://en.wikipedia.org/wiki/Mahajanga_Province" title="Mahajanga Province">Mahajanga</a></td>
                <td align="right">50,100</td>
                <td align="right">1,247,037</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Boeny" title="Boeny">Boeny</a> (8)</td>
                <td><a href="https://en.wikipedia.org/wiki/Mahajanga_Province" title="Mahajanga Province">Mahajanga</a></td>
                <td align="right">31,046</td>
                <td align="right">799,675</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Betsiboka" title="Betsiboka">Betsiboka</a> (9)</td>
                <td><a href="https://en.wikipedia.org/wiki/Mahajanga_Province" title="Mahajanga Province">Mahajanga</a></td>
                <td align="right">30,025</td>
                <td align="right">293,522</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Melaky" title="Melaky">Melaky</a> (10)</td>
                <td><a href="https://en.wikipedia.org/wiki/Mahajanga_Province" title="Mahajanga Province">Mahajanga</a></td>
                <td align="right">38,852</td>
                <td align="right">289,594</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Alaotra_Mangoro" title="Alaotra Mangoro" class="mw-redirect">Alaotra Mangoro</a> (11)</td>
                <td><a href="https://en.wikipedia.org/wiki/Toamasina_Province" title="Toamasina Province">Toamasina</a></td>
                <td align="right">31,948</td>
                <td align="right">1,027,110</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Atsinanana" title="Atsinanana">Atsinanana</a> (12)</td>
                <td><a href="https://en.wikipedia.org/wiki/Toamasina_Province" title="Toamasina Province">Toamasina</a></td>
                <td align="right">21,934</td>
                <td align="right">1,270,680</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Analanjirofo" title="Analanjirofo">Analanjirofo</a> (13)</td>
                <td><a href="https://en.wikipedia.org/wiki/Toamasina_Province" title="Toamasina Province">Toamasina</a></td>
                <td align="right">21,930</td>
                <td align="right">1,035,132</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Amoron%27i_Mania" title="Amoron'i Mania">Amoron'i Mania</a> (14)</td>
                <td><a href="https://en.wikipedia.org/wiki/Fianarantsoa_Province" title="Fianarantsoa Province">Fianarantsoa</a></td>
                <td align="right">16,141</td>
                <td align="right">715,027</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Haute-Matsiatra" title="Haute-Matsiatra" class="mw-redirect">Haute-Matsiatra</a> (15)</td>
                <td><a href="https://en.wikipedia.org/wiki/Fianarantsoa_Province" title="Fianarantsoa Province">Fianarantsoa</a></td>
                <td align="right">21,080</td>
                <td align="right">1,199,183</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Vatovavy-Fitovinany" title="Vatovavy-Fitovinany">Vatovavy-Fitovinany</a> (16)</td>
                <td><a href="https://en.wikipedia.org/wiki/Fianarantsoa_Province" title="Fianarantsoa Province">Fianarantsoa</a></td>
                <td align="right">19,605</td>
                <td align="right">1,416,459</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Atsimo-Atsinanana" title="Atsimo-Atsinanana">Atsimo-Atsinanana</a> (17)</td>
                <td><a href="https://en.wikipedia.org/wiki/Fianarantsoa_Province" title="Fianarantsoa Province">Fianarantsoa</a></td>
                <td align="right">18,863</td>
                <td align="right">898,702</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Ihorombe" title="Ihorombe">Ihorombe</a> (18)</td>
                <td><a href="https://en.wikipedia.org/wiki/Fianarantsoa_Province" title="Fianarantsoa Province">Fianarantsoa</a></td>
                <td align="right">26,391</td>
                <td align="right">312,307</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Menabe" title="Menabe">Menabe</a> (19)</td>
                <td><a href="https://en.wikipedia.org/wiki/Toliara_Province" title="Toliara Province">Toliara</a></td>
                <td align="right">46,121</td>
                <td align="right">592,113</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Atsimo-Andrefana" title="Atsimo-Andrefana">Atsimo-Andrefana</a> (20)</td>
                <td><a href="https://en.wikipedia.org/wiki/Toliara_Province" title="Toliara Province">Toliara</a></td>
                <td align="right">66,236</td>
                <td align="right">1,316,756</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Androy" title="Androy">Androy</a> (21)</td>
                <td><a href="https://en.wikipedia.org/wiki/Toliara_Province" title="Toliara Province">Toliara</a></td>
                <td align="right">19,317</td>
                <td align="right">733,933</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Anosy" title="Anosy" class="mw-redirect">Anosy</a> (22)</td>
                <td><a href="https://en.wikipedia.org/wiki/Toliara_Province" title="Toliara Province">Toliara</a></td>
                <td align="right">25,731</td>
                <td align="right">671,805</td>
            </tr>
            <tr>
                <td><i><b>Totals</b></i></td>
                <td></td>
                <td align="right">587,295</td>
                <td align="right">21,842,167</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    * Capital 
</div>

<div class="col-md-4">

</div>