@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Madagascar</h1>
    <p class="lead">Madagascar, a huge island nation off the southeast coast of Africa, is home to thousands of animal species – like lemurs – found nowhere else, plus rainforests, beaches and reefs. Near the busy capital, Antananarivo, is Ambohimanga, a hillside complex of royal palaces and burial grounds, as well as the “Avenue of the Baobabs,” a dirt road lined by massive centuries-old trees. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row" style="min-height: 150px;">
    <div class="col-md-5">
        <h2>The Island</h2>
        <p>
            <img src="~/Content/madagascar1.jpg" />
        </p>
        <p><a class="btn btn-default" href="~/Home/Geography">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quick Fact</h2>
        Lemurs, baobabs, rainforest, beaches, desert, trekking and diving: Madagascar is a dream destination for nature and outdoor lovers – and half the fun is getting to all these incredible attractions.
        <p><a class="btn btn-default" href="http://www.lonelyplanet.com/madagascar#ixzz3ludSzX4f">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <div style="text-align:center;width:350px;padding:0.5em 0;"> 
        <h2><a style="text-decoration:none;" href="http://www.zeitverschiebung.net/en/country/mg"><span style="color:gray;">Current local time in</span><br />Madagascar</a></h2>
         <iframe src="http://www.zeitverschiebung.net/clock-widget-iframe?language=en&timezone=Indian%2FAntananarivo" width="100%" height="130" frameborder="0" seamless></iframe> 
        <small style="color:gray;">&copy; <a href="http://www.zeitverschiebung.net/en/" style="color: gray;">Time Difference</a></small> </div>

    </div>
</div>