@{
    ViewBag.Title = "Weather";
}

<h2>Weather</h2>

<div style="min-height:200px;">
    <span style="display: block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.67083&bannertypeclick=wu_bluestripes" title="Antananarivo, Madagascar Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_bluestripes&airportcode=FMMI&ForcedCity=Antananarivo&ForcedState=Madagascar&wmo=67083&language=EN" alt="Find more about Weather in Antananarivo, MG" width="160" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.67083&bannertypeclick=wu_bluestripes" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>
    <div class="col-md-4">
        <h3>  Weather & climate</h3>
        <p>
            The Madagascar climate is hot and sub-tropical, it is colder in the mountains, while the south and west regions are particularly dry.
            The stunning island is ringed by golden beaches and palm trees, and has a diverse interior with plateaus, volcanoes, forests and natural reserves.
        </p>
        <p>
            The wet season in Madagascar is also the hottest time of the year, with temperatures hitting a daily average maximum of 28º C (82º F) in December with a daily low of 17º C (63º F).
            July is the coolest month with daily average temperatures ranging between a 21º C (70º F) and 9º C (48º F). The daily temperature range averages around 8 º C (46º F) year-round. Indian Ocean trade winds dictate the Madagascar climate, bringing with them variations in precipitation throughout the region. For example, on both coasts, the climate is wetter towards the north but the east coast is hit by the monsoon. This region is also the most prone to sudden and violent cyclones during the hot, rainy season (December to March).
        </p>

    </div>

    <div class="col-md-4">
        <h3> Best time to visit:</h3>
        <p>
            Madagascar’s highly diverse subtropical climate means it pays to do some research before you plan a trip. Rainy season runs from December to March.
            This is when the rainforested eastern and northern parts of the country are battered by tropical storms brought on by cyclone season, and temperatures tend to hover around 30ºC (86ºF).

            Despite being rainy season up north, during this period, the central parts will be a lot drier and cooler, with temperatures around 25ºC (77ºF).
        </p>
        <p>
            The southern and western coasts are the driest parts of the country.
            Dry season runs from April to October and from April is when most tourists start to arrive.
            Peak months are July and August, due to the timing of school holidays in Europe and the USA.
            If visiting for wildlife, September to December is also a good time to visit, as many of the snakes and lizards populating the island come out of hibernation during this time.
            The mountains, including Antananarivo, are dry, cool and windy during this time of year, shifting to warm and thundery from November to April.
            Travelling to Madagascar from January to March is best avoided.
        </p>
    </div>
    <div class="col-md-7">
        <h3>Temperature</h3>
        <p>
            Information about Temperature
        </p>
    </div>
    <div class="col-md-9">
        <img src="~/Content/picturegraph.png" /><br />
    </div>
   
</div>
@*<div class="col-md-3">
    <h3>Rain</h3>
    <p>
        Information about rain fall.
    </p>
</div>
<div class="col-md-offset-4">
    <img src="~/Content/rain.gif" />
</div>*@